@import "estilos/botao.css";
@import url(estilos/presente.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    max-height: 100svh;
    overflow: hidden;
}

.background {
    position: fixed;
    inset: 0;
    display: flex;
    flex-wrap: wrap;
}

.background img {
    object-fit: cover;
    flex: 1;
}

main {
    background-color: white;
    padding: 40px 20px;
    max-width: 800px;
    border-radius: 15px;
    font-size: 1.3em;
    z-index: 1;
    /* display: none; */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

p {
    margin-bottom: 30px;
}

button {
    margin: auto;
}

.modal {
    position: absolute;
    inset: 0;
    display: grid;
    z-index: 10;
    place-items: center;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img {
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@keyframes sumir {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

span {
    max-height: 100px;
}

.rolagem {
    overflow: auto;
    & main {
        margin: 50px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

section {
    background-color: rgb(160, 160, 160);
    display: flex;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    gap: 30px; */
}

section p {
    padding: 15px;
    text-align: center;
}

section button {
    padding: 15px;
    font-size: 1.1em;
}

section :is(img, video) {
    object-fit: cover;
    flex: 1 1 300px;
    width: 100%;
}